<IfModule mod_rewrite.c>
    	RewriteEngine On

	RewriteCond %{HTTP_HOST} !^www\.
	RewriteRule ^(.*)$ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{HTTP_HOST} =www.syahi.me.beta
	RewriteRule ^(.*)$ index.php?path=$1 [QSA]


</IfModule>
