.r2c
{
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.col_left
{

display: flex;
flex-grow: 1;

padding: 0 12px;
justify-content: center;
max-width: 100%;
}

.col_right
{
	display: flex;
	flex-grow: 1;
	min-width: 240px;

justify-content: center;
align-items: center;
}
